
Use Mfi
GO

--	exec ins_m_emppro	'P',100,'abc','','','01','07/01/2012','M','M','07/01/2012','','','','','','','','','07/01/2012','07/01/2012','','','','07/01/2012','',6000,'C','',0,0,0,0,'07/01/2012','',0,0,0,0,0,'07/01/2012','',0,1,'U','01','01','01',1,'','','',''

--Insert
alter proc [dbo].[upd_upath](@emppro_id int,@emppro_macid int,@emppro_nam varchar(100))
as
begin

exec ins_m_emppro 1,@emppro_macid,@emppro_nam,'',1,'','01','07/01/2012','M','M','07/01/2012','','','','','','','','','07/01/2012','07/01/2012','','','','07/01/2012','',6000,'C','',0,0,0,0,'07/01/2012','',0,0,0,1,0,0,0,0,0,0,'07/01/2012','',1,1,'U','01','01','01',1,'','','',''
			update m_emppro set emppro_userid=@emppro_id where emppro_macid=@emppro_macid


end

go

